<html>
  <head>
    <title>QuickServe</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script type="text/javascript">
      var serverIP;
    
      function sendRequest() {
        $.ajax({
          url: "/stream:8888",
          type: "POST",
          data: {
            'video': $('#video').val(),
            'quality': $('#quality').val()
          },
          success: function(data) {
            vlc.playlist.stop();
            setTimeout(function() {
              console.log('playing');
              if (vlc.playlist.items.count <= 0)
                vlc.playlist.add('http://' + serverIP + ':33453');
              vlc.playlist.play();
            }, 5000)
          }
        });
  
  		function getIP(){
  		   var url, matched;
			   var url = window.location;
			   re = /[0-9]{1,2}.[0-9]{1,2}.[0-9]{1,2}.[0-9]{1,2}/;
			   matched = re.exec(url);
			   serverIP = matched[0];
  		}
  			
  
      $(document).ready(function() {
      	getIP();
        var vlc = $('#vlc')[0];
      
        $('#playpause').toggle(function() {
          	vlc.playlist.togglePause();
        	$('#playpause').text("Play");  
        }, function() {
          vlc.playlist.togglePause();
          $('#playpause').text("Pause");
         
        });
        $('#prev').click(function() {
          vlc.playlist.prev();
        });
        $('#next').click(function() {
          vlc.playlist.next();
        });
        $('#fullscreen').click(function() {
          vlc.video.toggleFullscreen();
        });
        $('#ff').click(function(){
        	if($('#ff').text() === "Resume"){
        		$('#ff').text("FF");
        		vlc.input.rate = 1.0;
        	}else{
        		$('#ff').text("Resume");
        		vlc.input.rate = 2.0;
        	}
        });
        $('#rw').click(function(){
        	if($('#rw').text() === "Resume"){
        		$('#rw').text("RW");
        		vlc.input.rate = 1.0;
        	}else{
				$('#rw').text("Resume");
	        	vlc.input.rate = -2.0;
        	}
        });
        $('#slider').slider();
        $('#slider').slider("option","min", 0);
        $('#slider').slider("option","max", 1.0);
        $('#slider').slider("option","step", .01);
        $('#slider').slider("option","value", 0);
        $('#slider').slider({
        	slide: function(event, ui){
        		var length = vlc.input.length;
        		var seek = length * ui.value;
        		vlc.input.time = vlc.input.time + (seek - vlc.input.time);	
        	}
        });
        $('#volume').slider();
        $('#volume').slider("option","min",0);
        $('#volume').slider("option","max",100);
        $('#volume').slider("option","step", 1);
        $('#volume').slider("option","value", 50);
        vlc.audio.volume = 50;
        $('#volume').slider({
        	slide: function(event,ui){
        		vlc.audio.volume = parseInt(ui.value);
        	}
        });
        $('#mute').click(function(){
        	vlc.audio.toggleMute();
        });
        $('#video').change(sendRequest);
      });
    </script>
    <style type='text/css'>
      #content, #outer_border{
        margin-left:auto;
        margin-right:auto;
        height:100%;
      }
      #outer_border{
        width:1210;
        background-color:rgb(125,125,125);
      }
      body{
        margin:0px;
        font-family: "Lucida Grande", Helvetica;
        background-image:url("http://dl.dropbox.com/u/13160585/outer_background.png");
      }
      #selections{
        text-align:center;
        width:100%;
      }
      #controls{
      	width:640px;
      	margin-left:auto;
      	margin-right:auto;	
      }
      #content{
        width: 1200;
        background-color:rgb(80,80,80);
      }
      #slider {
        width:640px;
        border-style:solid;
        border-width:1px;
        border-color:black;
        height:10px;
        background-color:rgb(200,200,200);
        margin-left:auto;
        margin-right:auto;
      }
      #player{
      	text-align:center;
        padding-top:50px;
      }
      
      #volume_control{
      	float:left;
        height:20px;
        background-color:rgb(50,50,50);
        border-style:solid;
        border-color:black;
        border-width:1px; 
        padding:3px;
      }
      #placeholder, #playpause, #next, #fullscreen, #mute,#ff,#rw {
        float:left;
        color:rgb(180,180,180);
        background-color:rgb(50,50,50);
        width:23.9%;
        height:20px;
        border-style:solid;
        border-color:black;
        border-width:1px; 
        padding:3px;
      }
      #selections {
		padding-top:30px;
      }
      #volume{
      	background-color:rgb(180,180,180);
      	width:200px;
      	height:10px;
      	margin-left:auto;
		margin-top:3px;
      	margin-right:auto;
      }
      #volume_control{
		width:48.8%;
      }
      .ui-slider-horizontal .ui-state-default {
      	margin-top:3px;
      	margin-left:-2px;
      	width:12px;
      	height:12px;
      }
    </style>
 </head>
 <body>
    <div id="outer_border">
	  	<div id="content">
	  	    <div id="selections">
	  		    <select id="video" class='media'>
	  		      <option>--none--</option>
	  		      {% for item in Movies %}
	  		      <option>{{item}}</option>
	  		      {% endfor %}
	  		    </select>
	  		    <!--
	  		    <select id="music" class='media'>
	  		      <option>--none--</option>
	  		      {% for item in Music %}
	  		      <option>{{item}}</option>
	  		      {% endfor %}
	  		    </select>
	  		    -->
	  		    <select id="quality" class='media'>
	  		    	<option value='2048'>High</option>
	  		    	<option value='1024'>Medium</option>
	  		    	<option value='512'>Low</option>
	  		    	<option value='256'>Very Low</option>
	  		    </select>
  			</div>
		  	<div id="player">
		    	<embed id='vlc' type="application/x-vlc-plugin" name="video2"
              autoplay="no" loop="no" hidden="yes" width=640 height=480 />
		      <div id="slider"></div>
		      <div id="controls">
			      <div id="playpause">Pause</div>
			      <div id="next">Next</div>
			      <div id="fullscreen">Fullscreen</div>
			      <div id="mute">Mute</div>
  			 	  <div id="ff">FF</div>
  			 	  <div id="rw">RW</div>
  			 	  <div id="volume_control">
  			 	 	 <div id="volume"></div>
  			 	  </div>
			  </div>
			</div>
		</div>
	</div>
 </body>
</html>