<html>
  <head>
    <title>MediaServer</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script type="text/javascript">
      function sendRequest() {
        $.ajax({
          url: "/stream:8888",
          type: "POST",
          data: {
            'video': $('#video').val(),
            'quality': $('#quality').val()
          },
          success: function(data) {
            console.log('http://10.0.7.112:' + data);
          }
        });
        vlc.playlist.stop();
        setTimeout(function() {
          console.log('playing');
          if (vlc.playlist.items.count <= 0)
            vlc.playlist.add('http://10.0.7.112:33433');
          vlc.playlist.play();
        }, 5000)
        
      }
  
      $(document).ready(function() {
        var vlc = $('#vlc')[0];
      
        $('#playpause').toggle(function() {
          vlc.playlist.togglePause();
        $('#playpause').text("Play");  
        }, function() {
          vlc.playlist.togglePause();
          $('#playpause').text("Pause");
        });
        $('#prev').click(function() {
          vlc.playlist.prev();
        });
        $('#next').click(function() {
          vlc.playlist.next();
        });
        $('#fullscreen').click(function() {
          vlc.video.toggleFullscreen();
        });
        $('#slider').slider();
        $('#volume').slider();
        $('#volume').slider("option","min",0);
        $('#volume').slider("option","max",100);
        $('#volume').slider("option","step", 1);
        $('#volume').slider({
        	slide: function(event,ui){
        		vlc.audio.volume(parseInt(ui.value));
        	}
        });
        $('#video').change(sendRequest);
      });
    </script>
    <style type='text/css'>
      #content, #outer_border{
        margin-left:auto;
        margin-right:auto;
        height:100%;
      }
      #outer_border{
        width:1210;
        background-color:rgb(125,125,125);
      }
      body{
        margin:0px;
        font-family: "Lucida Grande", Helvetica;
        background-image:url("outer_background.png");
      }
      #controls, #selections{
        text-align:center;
        width:100%;
      }
      #content{
        width: 1200;
        background-color:rgb(80,80,80);
      }
      #controls li {
        list-style-type: none;
        display: inline;
      }
      #slider {
        width:99.75%;
        border-style:solid;
        border-width:1px;
        border-color:black;
        height:10px;
        background-color:white;
      }
      #player{
        padding-top:50px;
        width:640px;
        margin-left:auto;
        margin-right:auto;
      }
      #placeholder, #playpause, #next, #fullscreen {
        float:left;
        text-align:center;
        width:23.9%;
        height:20px;
        background-color:white;
        border-style:solid;
        border-color:black;
        border-width:1px; 
        padding:3px;
      }
      #selections {
        clear: both;
      }
      #volume{
      	margin-top:40px;
      	background-color:white;
      	width:300px;
      }
      #volume_value{
      	display:inline;
      }
    </style>
  </head>
  <body>
    <div id="outer_border">
	  	<div id="content">
		  	<div id="player">
			    <embed id='vlc' type="application/x-vlc-plugin" name="video2"
	              	autoplay="no" loop="no" hidden="yes" width=640 height=480
	              	target="http://10.0.7.112:3000" />
			    <div id="slider"></div>
		    	<div id="playpause">Pause</div>
		 		<div id="next">Next</div>
	      		<div id="fullscreen">Fullscreen</div>
	      		<div id="placeholder">Placeholder</div>
  			</div> 
  				Volume:
  	   			<div id="volume">
  				</div>
  	   		<div id="selections">
	  		    <select id="video" class='media'>
	  		      <option>--none--</option>
	  		      {% for item in Movies %}
	  		      <option>{{item}}</option>
	  		      {% endfor %}
	  		    </select>
	  		    <select id="music" class='media'>
	  		      <option>--none--</option>
	  		      {% for item in Music %}
	  		      <option>{{item}}</option>
	  		      {% endfor %}
	  		    </select>
	  		    <select id="quality" class='media'>
	  		    	<option>High</option>
	  		    	<option>Medium</option>
	  		    	<option>Low</option>
	  		    </select>
  			</div>
  	    <div id="selections">
  		    <select id="video" class='media'>
  		      <option>--none--</option>
  		      {% for item in Movies %}
  		      <option>{{item}}</option>
  		      {% endfor %}
  		    </select>
  		    <select id="music" class='media'>
  		      <option>--none--</option>
  		      {% for item in Music %}
  		      <option>{{item}}</option>
  		      {% endfor %}
  		    </select>
  		    <select id="quality" class='media'>
  		    	<option value='2048'>High</option>
  		    	<option value='1024'>Medium</option>
  		    	<option value='512'>Low</option>
  		    	<option value='256'>Very Low</option>
  		    </select>
  		</div>
		</div>
	</div>
    </body>
</html>