<html>
  <head>
    <title>Brian's Olde Time Saloon!</title>
    <link href="server.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"/></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js"></script>-->
    <!--<script src="./scripts/scriptaculous.js" type="text/javascript"></script>-->
	<script type="text/javascript" src="./scripts/server.js"></script>
    <script type=text/javascript>
      $(document).ready(function() {
        var vlc = $('#vlc')[0];
        vlc.playlist.add('http://10.0.7.112:3000');
        vlc.playlist.play();
      
        $('#playpause').toggle(function() {
          vlc.playlist.togglePause();
          $('#playpause').text("Play");  
        }, function() {
                                    vlc.playlist.togglePause();
                                  $('#playpause').text("Pause");
        });
        $('#prev').click(function() {
          vlc.playlist.prev();
        });
        $('#next').click(function() {
          vlc.playlist.next();
        });
        $('#fullscreen').click(function() {
          vlc.video.toggleFullscreen();
        });
        $('#slider').slider();
      });
    </script>
 
  </head>
  <body>
    <div id="outer_border">
	  	<div id="content">
		  	<div id="player">
		    	<embed id="vlc" type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"
		           width="640" height="480" />
		      <div id="slider"></div>
		      <div id="controls"></div>
		      <div id="play">Play</div>
		      <div id="playpause">Pause</div>
		      <div id="next">Next</div>
		      <div id="fullscreen">Fullscreen</div>
			</div>
		    <div id="selections">
			    <select id="video" class='media'>
			      {% for item in Movies %}
			      <option>{{item}}</option>
			      {% endfor %}
			    </select>
			    <select id="music" class='media'>
			      {% for item in Music %}
			      <option>{{item}}</option>
			      {% endfor %}
			    </select>
			    <select id="quality" class='media'>
			    	<option>High</option>
			    	<option>Medium</option>
			    	<option>Low</option>
			    </select>
			</div>
		</div>
	</div>
    </body>
</html>